<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvc" />
          <element id="module-output" name="Spring-MVC-React-JS" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: com.oracle:ojdbc7:12.1.0.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.3.0" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.2.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.0" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.21" />
          <element id="library" level="project" name="Maven: org.testng:testng:7.1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.2" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: com.google.inject:guice:no_aop:4.1.0" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:19.0" />
          <element id="library" level="project" name="Maven: com.beust:jcommander:1.72" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Spring-MVC-React-JS/web/Web" />
    </root>
  </artifact>
</component>